.sidebar_main {
  width: 15rem;
  top: -1vh;
  left: -1vw;
  height: 100vh;
  padding: 2rem 0;
  position: fixed;
  z-index: 1900;
  border-radius: 0 0.5rem 0.5rem 0;
  background: #0c0c0c;
}

.sidebar-addmenu,
.sidebar-removemenu {
  display: none;
}

.sidebar_main_container {
  width: 100%;
  position: relative;
  top: 10vh;
  height: 81vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.sidebar_main_container::-webkit-scrollbar {
  /* Hide the scrollbar on Chrome, Safari, and Opera */
  display: none;
}
.button-menu {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem 0;
}
.button-menu:hover {
  background: #2525265e;
  cursor: pointer;
}

#button-menu-icon {
  font-size: 1.2rem;
  color: #5c5c5c;
  margin-right: 0.5rem;
  margin-left: 2.5rem;
}

#button-menu-content {
  font-size: 1rem;
  color: #a0a0a0;
  font-weight: 400;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/* dropdown menus */
.drop-down-menu {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0.5rem 0;
}
.drop-down-menu:hover {
  background: #ebebeb31;
}

#drop_menu {
  color: #a0a0a0;
  font-size: .8rem;
  font-family: 'Roboto';
  letter-spacing: 1px;
  margin: 0.4rem 0 0rem 4.3rem;
  width: 71%;
  cursor: pointer;
  display: none;
}
#drop-down-arrow{
  font-size: 1.2rem;
  position: absolute;
  color: #5c5c5c;
  left: 11.5rem;
}
.seprator-line{
  font-size: .8rem;
    color: #7d7d7d;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;    
}
#seprator-line-dashboard{
  left: -1.6em;
}
 #seprator-line-website{
  margin-top:2rem;
  left: -2.06rem;
}
 #seprator-line-view{
  margin-top:2rem;
  left: -1.3rem;
 }


@media (max-width: 1365px) {
  .sidebar_main {
    width: 18rem;
    border: 1px solid #c8c8c8;
    height: 100vh;
    position: absolute;
    top: -1vh;
    padding: 2rem 0;
    z-index: 1900;
    background: #0c0c0c;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 0 20px 0px #c0c0c0d4;
    display: none;
  }
  .sidebar_main.active {
    display: block;
  }
  .sidebar-addmenu {
    position: absolute;
    font-size: 2rem;
    z-index: 2000;
    color: #003461;
    top: -1rem;
    display: block;
  }
  .sidebar-addmenu.active {
    display: none;
  }

  .sidebar-removemenu {
    position: relative;
    right: 2rem;
    font-size: 2rem;
    z-index: 2000;
    color: #ffffff;
    float: right;
    top: -1rem;
  }

  .sidebar_main_container {
    width: 100%;
    position: absolute;
    top: 5rem;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  #drop-down-arrow {
    left: 14rem;
 }

 #seprator-line-dashboard{
  left:-2.7rem
}
 #seprator-line-website{
  margin-top:2rem;
  left:-3.4rem;
}
 #seprator-line-view{
  margin-top:2rem;
  left:-2.6rem;
 }

}
