/* The card_pg */
.card_pg {
  position: relative;
  height: 450px;
  width: 1100px;
  background-color: #fff;
  box-shadow: 10px 10px 20px 11px rgb(149 148 148 / 64%);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover;*/
/*object-position: center;*/
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card_pg */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.right > h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4b4b4b;
  font-family: "Roboto";
}

.author {
  width: 6rem;
  height: 1.7rem;
  border: 1px solid #9ecaff;
  background: #9ecaff;
  transition: 0.6s ease;
  border-radius: 5rem;
  margin: 1rem 0;
}
.author:hover {
  box-shadow: 0 0 7px 1px #2653f2;
}

.author > img {
  padding-top: 1px;
  margin-left: 2px;
  float: left;
  height: 27px;
  width: 27px;
  border-radius: 50%;
}

.author > h2 {
  padding-top: 3px;
  margin-right: 6px;
  font-size: 0.7rem;
  color: rgb(10, 10, 10);
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 1.3rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #c3c3c3;
}

.right > p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 140%;
  color: #4b4b4b;
  font-family: "Lato", sans-serif;
  min-height: 88px;
  max-height: 306px;
  overflow: scroll;
}
.right > p::-webkit-scrollbar{
  display: none;
}

/* DATE of release*/
.card_pg > h5 {
  position: absolute;
  left: 30px;
  bottom: -6px;
  font-size: 6rem;
  color: #c3c3c3;
}

.card_pg > h6 {
  position: absolute;
  left: 30px;
  bottom: 89px;
  font-size: 2rem;
  color: #c3c3c3;
}

/* category */
.blogcategorys {
  width: auto;
  padding: 0 0.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 0.3rem;
  bottom: 20.2rem;
  right: 3%;
  border: 1px solid #9ecaff;
  transition: 0.6s ease;
  border-radius: 5rem;
}
.blogcategorys:hover {
  background: #9ecaff;
  box-shadow: 0 0 7px 1px #2653f2;
}
#categoryicons {
  font-size: 1.5rem;
  color: #0373ca;
}
.blogcategorys:hover #categoryicons {
  color: #ffffff;
}

.blogcategorys > p {
  text-align: justify;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 150%;
  color: #373737;
  font-family: "Lato", sans-serif;
}
.blogcategorys:hover .blogcategorys>p {
  color: #eeeeee;
}


/* Floating action button */
.fab {
  position: absolute;
  display: flex;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1880d0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
}
.fab:hover {
  background-color: #f7f7f7;
}
.blogicon {
  position: relative;
  font-size: 2.5rem;
  transition: 0.5s;
  color: white;
  bottom: 9px;
}
.fab:hover .blogicon {
  color: rgb(10, 201, 10);
  font-size: 3rem;
}



@media(max-width:1264px){
        .card_pg {
                position: relative;
                width: 33.5rem;
                background-color: #fff;
                height: auto;
                padding: 3.5rem 0;
                display: flex;
                flex-direction: column;
            }
            .right {
                margin-left: 590px;
                margin-right: 20px;
                position: relative;
                left: -31.5rem;
                width: 29.5rem;
                padding: 2rem 0 5rem 0;
            }
            .blogcategorys {
                gap: 0.3rem;
                top: 27.2rem;
                right: 6%;
            }

}


@media(max-width:1024px){
        .thumbnail {
                left: 23px;
                top: -30px;
                height: 312px;
                width: 467px;
           }
           .right {
                margin-left: 590px;
                margin-right: 20px;
                position: relative;
                left: -36.5rem;
                width: 29.5rem;
                padding: 2rem 0 5rem 0;
            }
            .blogcategorys {
                gap: 0.3rem;
                top: 29.6rem;
                right: 6%;
            }
}


@media(max-width:700px){
        .card_pg {
                overflow: hidden;
            }
        .thumbnail {
                width: 30.5rem;
                height: 41vh;
            }
            .right {
                left: -37.5rem;
                width: 30.5rem;
            }
            .blogcategorys {
              width: 16.9rem;
              justify-content: start;
              top: 60%;
              right: 0%;
              left: 90.5%;
              gap: 0.9rem;
            }
            .blogcategorys:hover {
                left: 5%;

            }
            .card_pg > h5 {
                font-size: 5rem;
            }
            .card_pg > h6 {
                left: 30px;
                bottom: 71px;
                font-size: 1.5rem;
            }
            .fab {
                bottom: -33px;
                width: 70px;
                height: 70px;
                bottom: 1rem;
            }
}
@media(max-width:580px){
        .thumbnail {
                width: 30.5rem;
                height: 41vh;
            }
            .right {
                left: -39.5rem;
                width: 30.5rem;
            }
           
            .author > img {
                height: 24px;
                width: 24px;
            }
            .blogcategorys {
              top: 50%;      
            }
}


@media(max-width:514px){
        .card_pg {
                width: 90%;
            }
        .thumbnail {
                width: 95%;
                height: 28vh;
                left: 10px;
                top: -39px;
            }
            .right {
                left: -40rem;
                width: 90%;
            }
            .fab {
                width: 56px;
                height: 56px;
                bottom: 1rem;
                right: 20px;
            }
}
@media(max-width:287px){
            .right {
                left: -48.5rem;
                width: 90%;
            }
}