      /*crasole slider css  */

      

      .center_container{
        display: flex;
        align-items: center;
        justify-content: center;
}


.carsole2_con{
        width: 78vw;
        margin:0 0 4rem 0;
        padding: 0rem 0 0rem 0;
        align-items: center;
        justify-content: center;
}

.carsole2_images_con{
        width: 20vw;
        height: 38vh;
        overflow: hidden;
        place-items: center;
}
.carsole2_imgs{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .6s;
}

@media(max-width:1024px){
        .carsole2_con{
                width: 80vw;
                height:45vh;
                margin:0 0 -2rem 0;
        }
        
        .carsole2_images_con{
                width: 25vw;
                height: 25vh;
        
        }    
}
 
@media(max-width:824px){
        .carsole2_con{
                width: 80vw;
                height:45vh;
                margin:0 0 -3rem 0;
        }
        
        .carsole2_images_con{
                width: 39vw;
                height: 25vh;
        
        }    
}
@media(max-width:614px){
        .carsole2_con{
                width: 80vw;
                height:45vh;
                margin:0 0 -3rem 0;
        }
        
        .carsole2_images_con{
                width: 80vw;
                height: 25vh;
        
        }    
}
@media(max-width:400px){
        .carsole2_con{
                width: 90vw;
                height:45vh;
                margin:0 0 -5rem 0;
        }
        
        .carsole2_images_con{
                width: 90vw;
                height: 25vh;
        
        }    
}


/* ////////// */
      .image-box2 {
        position: relative;
        overflow: hidden;
      }
      
      
      .image-box2:hover  .carsole2_imgs{
        transform: scale(1.3);
      }
      
      
      
      .overlay2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(25, 70, 204, 0.686);
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      
      .overlay2 p {
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Lato', sans-serif;
      }
      
      .image-box2:hover .overlay2 {
        opacity: 1;
      }
      






