
body::-webkit-scrollbar {
        display: none;

}

html{        
        font-size: 110%;
}
/* small info header */
.smalinfo_sh{
        height: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8.5rem 0 8rem;
background-color:#062f4f;
}
.emlphone_sh{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
}
#smallinfo_icon{
        color: #ffffff;
        position: relative;
        font-size: .8rem;
        top: 3px;
}
.emlphone_sh>span>a{
        text-decoration: none;
        font-size: .7em;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: .02rem;
        font-family: 'Open Sans', sans-serif;
}

.socallogo_sh{
        height: 2.3rem;
}


/*---->>> header section <<<----- */
#nav_m_container{
   position: sticky;
   top: 0;
   left: 0;
   z-index: 1024;
   transition: .6s ;
   display: flex;
   padding: 0 8rem;
   align-items: center;
   justify-content: space-between;
}

#nav_twoCol{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#nav_logo{
        position: relative;
        overflow: hidden;
        transition: .6s ;
}
.navbar_logo{
        width: 100%;
        height: 100%;
}

#nav_twoCol{
        display: flex;
        align-items: center;
        justify-content: flex-end;
}
#nav_ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
#nav_ul>li{
       list-style: none;
}
#nav_ul>li>a{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .03rem;
    text-transform: capitalize;
    padding: 15px 16px;
    text-decoration: none;
    transition: .6s ;
    font-family: 'open sans', sans-serif;
}

#nav_ul a:hover,
#nav_ul a.active{
    color:  #1deb12;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#removemenu,
#addmenu{
        display: none;
}


/* mobile version */
#nav_logo_mobile{
        display: none;
}
#contact_mobile_{
        display: none;
}
.socallogo_sh__con_mob{
        display: none;
}
/* ----->>>>  scroll effect  <<<<<---  */



/* header section */
.navcontainer_BS{
        background-color: transparent;
        color: #0e2783;
        height: 5rem;
        padding: .5rem 0;
}
.navcontainer_AS{
        background-color:  #f7f8f9;
        box-shadow: 2px 3px 12px rgba(243, 241, 241, 0.332);
        height: 3.6rem;
        padding:  0;
}
.navlogo_BS{
        width: 14rem;
        height: 5rem;
}
.navlogo_AS{
        width: 12rem;
        height: 3.5rem;
}
.nav_a_BS{
        color: #ffffff;
 }
.nav_a_AS{
        color: #506a85;
 }





   
@media (max-width:1024px){
        
html{        
        font-size: 100%;
}
/* small info header */
.smalinfo_sh{
        display: none;
}

/* header section */
#nav_logo{
        width: 10rem;
        height:3rem;
        overflow: hidden;
        left: 5%;
        position: relative;

}
.navbar_logo {
        width: 100%;
        height: 100%;
}
#nav_m_container{
        width: 100%;
        height: 3.8rem;
        padding: 0;
}

#nav_twoCol{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:fixed;
        top: 0rem;
        left: -310px;
        height: 100vh;
        width: 300px;
        background-color:#070b1df7;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .4s ease-in-out;
}
#nav_twoCol.active{
        left: 0;
}

#nav_ul{
        position: absolute;
        top: 5rem;
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
}

#nav_ul>li{
     margin: 0 0 1rem -1rem;     
}

#addmenu{
        display: block;
        position: relative;
        right: 2rem;
        font-size: 2rem;
}
#addmenu.active{
        display: none;
}

#removemenu{
        display: none;
}
#removemenu.active{
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 1.9rem;
        transition-delay: 2s;
}



/* profile-css */
#profile-log{
        position: absolute;
        top: 1.2rem;
        right: 1.5rem; 
}

/* mobile version */
#nav_logo_mobile{
        display: inline;
        width: 15rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -.8rem; 
        top: -.3rem;
}

.socallogo_sh__con_mob {
        width: 75%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        gap: .5rem;
        position: absolute;
        bottom: 7.5rem;
    }

 #contact_mobile_{
        display: flex;
        gap: 1rem;
        position: absolute;
        bottom: 11rem;

 }   
 #contact_mobile_>a{
      text-decoration: none;

 }   
 .contact_button{
        border: 1px solid #2d2f30;
        background-color: #34383b;
        width: 7rem;
        display: flex;
        padding: 0.4rem;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: space-around;
 }
 #smallinfo_icon_mobile{
        font-size: 17px;
        color: #ffffff;
 }
 .mobile_content{
        color: #ffffff;
        font-size: 1.1rem;
        letter-spacing: .04rem;
        font-family: 'Raleway', sans-serif;
 }
}
 
@media(max-width:583px){
        html{        
                font-size: 90%;
        }
        #nav_logo{
                width: 8.6rem;
                height:3rem;
                overflow: hidden;
        
        }
     
}

@media(max-width:280px){
        html{        
                font-size: 75%;
        }
        #nav_twoCol{
          width: 240px;
        }
}