.notice_m_con{
   
        height: 25rem;
        background-image: url('https://images.unsplash.com/photo-1593877995638-4700be472cb3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTU0fHxza2V0Y2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        position: relative;
        top: -5rem;
}

.notice_F_con{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #00051b9d;
}

.notice_F_con>h1{
        color: white;
        font-weight: 500;
        font-size: 4rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
}
.notice_F_con>p{
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
}
.notice_F_con>p>a{
        color: #a0c1fb;
        text-decoration: none;
        margin: 0 0rem 0 0;
        transition: .5s ;
        font-family: 'Open Sans', sans-serif;
}
.notice_F_con>p>a:hover{
        color: #ffffff;
        text-decoration: underline;
        margin: 0 0rem 0 0;
} 



/* content of contact page */
.notice_S_con{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:5rem 0 8rem 0;
}
 .notice_Cart_con{
    width: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 10rem 0rem;
    justify-items: center;
 }




 
@media(max-width:1264px){
        .notice_m_con{
                height: 20rem;}
        .notice_F_con>h1{
                color: white;
                font-weight: 500;
                font-size: 4rem;
        }
        .notice_F_con>p{
                font-size: 1.2rem;
        }
        .notice_Cart_con{
            gap: 6rem 1rem;
         }

}



@media(max-width:554px){
        .notice_m_con{
                justify-content: center;
                align-items: center;
                padding: 0;
        }
        .notice_m_con{
                height: 15rem;}
        .notice_F_con>h1{
                color: white;
                font-weight: 500;
                font-size: 3rem;
        }
        .notice_F_con>p{
                font-size: 1.1rem;
        }
     

        
}

@media(max-width:394px){
        .notice_m_con{
                height: 15rem;
        }
        .notice_F_con{
                width: 100%;
                height: 15rem;
          }
}
