.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 57rem;
}

.our-team {
  width: 20rem;
  height: 17rem;
  padding: 30px 0 40px;
  margin-bottom: 30px;
  box-shadow: -1px -1px 20px 0px #dfdada;
  background-color: #fbfaff;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

.our-team .picture {
  display: inline-block;
  height: 199px;
  width: 199px;
  margin-bottom: 5px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: -12%;
  background-color: #21dc10be;
  position: absolute;
  bottom: 50%;
  right: 0;
  left: 0;
  opacity: 0.7;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #32ed11;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
  object-fit: cover;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  font-weight: 500;
  font-size: 1rem;
  color: #3a4d60;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.our-team .name {
  display: block;
  font-size: 1.5rem;
  color: #3a4d60;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}
.our-team .degree {
  display: block;
  font-size: 1rem;
  color: #33e114;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  transition: 0.5s;
}
.our-team:hover .title {
  color: #ffffff;
  position: relative;
  z-index: 13;
}
.our-team:hover .name {
  color: #ffffff;
  position: relative;
  z-index: 13;
}
.our-team:hover .degree {
  color: #ffffff;
  position: relative;
  z-index: 13;
}
.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #32ed11;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


@media(max-width:554px){
  .our-team {
    width: 20rem;
    height: 20rem;
}
}