*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: rgb(40, 116, 192); */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.active{
    color: rgb(255, 115, 0);
    border-bottom: 2px solid rgb(250, 97, 2);
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease-in-out;
}
.active:hover{
    color: rgb(255, 0, 0);
}
ul{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
   z-index: 999;
}
ul li{
    list-style: none;   
    margin: 5px 15px 0px 15px; 
    
}
.Nav{
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -3px 19px rgb(255, 255, 255);
    padding: 0 30px;
}