.featureProduct_main_container{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(220, 218, 218, 0.223);
}

.feature_P_container{
        width: 80vw;
        display: flex;
        flex-direction: column;
}
.intro_data{
        color: rgb(94, 93, 91);
        font-weight: 500;
        font-size:20px;
        position: relative;
        left: 4.5rem;
}
.common_heading{
        color: rgb(35 35 35);
        font-weight: 700;
        font-size: 50px;
        position: relative;
        left: 4.5rem;
}
.grid_three_column{
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(3,minmax(19vw,1fr));
        justify-items: center;
        align-items: center;
}