
.heromaindv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 15%;
}

.herofdv .herohon{
    margin: -25px 0 10px 0;
}
.herofdv .herocontent{
    margin: -15px 0 15px 0;
    font-size: 20px;
}
button{
    padding: 10px 15px;
    background-color: rgb(28, 142, 241);
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.herosdv{
    margin-top: 5%;
}
.imgz{
    width: 30rem;
    height: 20rem;
}