.content-main{
  position: absolute;
  padding-top: 0.5rem;
  top: 3.5rem;
  left: 16vw;
  width: 85vw;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.content-main::-webkit-scrollbar {
  display: none;
}


/* Dashboard content -----css Start */

.dashboard_container_ {
  width: 99%;
  height: 90vh;
  position: relative;
  right: 0.3rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
}

.dashboard_container_::-webkit-scrollbar {
  display: none;
}

.dashboard-upbar {
  width: 100%;
  padding: 6.5rem 0;
  border: 1px solid #c2c2c2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #624bff;
  box-shadow: 0 0 8px 0px #c9cfd6e0;
  position: relative;
}
.dashboard-upbar>h1{
     font-size: 1.8rem;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 3.7rem;
  letter-spacing: 1px;
}

.dashboard-upbar>button{
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: 500;
  color: #000000;
  position: absolute;
  right: 2rem;
  top: 4rem;
  letter-spacing: .7px;
  border: 1px solid #ffffff;
  border-radius: 0.3rem;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  transition: .5s;
}

.dashboard-upbar>button:hover{

  box-shadow: 0 0 13px 1px white;
}

.boxes-main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  top: -4rem;
}

.boxes_container {
  width: 19rem;
      height: 7rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem;
      background: white;
      border-radius: 0.5rem;
      border: 1px solid #ebebeb;
      box-shadow: 0 0 8px 0px #c9cfd6e0;
      position: relative;
  
  }
  
  .boxes_container>h1 {
      font-size: 1rem;
      font-family: 'Roboto';
      font-weight: 500;
      color: #3f3f3f;
      letter-spacing: .9px;
  }
    
  .boxes_container>p {
      color: #474747;
      font-size: 2.3rem;
      margin: 0.5rem 0;
      font-family: 'Roboto';
      font-weight: 500;
  }  
  .all_show_btn {
      font-size: 0.9rem;
      font-family: 'Lato';
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3b3b9a;
      cursor: pointer;
  }  

.all_show_btn:hover{
  color: #432ddb;
  text-decoration: underline;
}

.dashboard_content_button{
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 0.3rem;
    background: #624bff26;
    box-shadow: 0 0 4px 1px #a497ff;
}
#dashboard_content_icon{
  color: #624bff;
  font-size: 2rem;
}


.dashboard-table-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  position: relative;
  top: -1rem;
  left: 0rem;
}
.dashboard-fst-table-container,
.dashboard-sec-table-container{
  width: 45%;
  height: 54vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #d5d5d5;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 3px #e6e6e69c;
}
/* Dashboard content -----css end */


/* AddBlogContentComponent --*/
.blog_main_container{
  height: 100%;
  width: 94%;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-form {
  padding: 24px;
  border-radius: 14px;
  width: 93%;
  height: 88%;
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  box-shadow: 0 0 17px 0px #eefafffc;
  background-color: white;
  overflow-y: scroll;
  transition: .5s;
      }
      .blog-form::-webkit-scrollbar {
        display: none;
      }

      .form-group {
        margin-bottom: 20px;
      }
      
      .content_label {
        display: block;
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Roboto';
        color: #444444;
        line-height: 1.8rem;
      }


      .choose-image{
        background: white;
        padding: 4px;
        width: 100%;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #c2c2c2;
        border-radius: 0.3rem;
        text-align: center;
        font-size: 1rem;
        box-shadow: 0 0 4px 1px #dbdada;
      }
     
      input[type="text"],
      textarea,
      input[type="tel"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      textarea {
        resize: vertical;
      }
     


      /*Banner & Paintings css start--------------  */
      
.Banner_main_container {
  height: 100%;
  position: relative;
  width: 96%;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Banner_N_B_conatainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Banner_heading{
  margin: 0.5rem 0.5rem 0.5em 0.3rem;
    letter-spacing: .5px;
    font-size: 1rem;
    font-family: 'Roboto';
    color: #262626;
    text-transform: uppercase;
}
.Banner_Show_Dta_container{
  padding: 24px;
  width: 96%;
  height: 92%;
  border: 1px solid #cecece;
  border-radius: 0.5rem;
  box-shadow: 0 0 17px 0px #eefafffc;
  background-color: white;
  overflow: scroll;
  transition: .5s;
}
.Banner_Show_Dta_container::-webkit-scrollbar {
  display: none;
}
      .image-preview {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
      }
      .image-preview-item{
        width: auto;
        height: 20rem;
        margin: 24px;
        position: relative;
      }
      .image-preview-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: .5s;
      }
      
      #delet-image-btn{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(226, 226, 226);
        background: #ffffff;
        box-shadow: 0 0 12px 2px #ffffff;
        cursor: pointer;
        position: relative;
        bottom: 3rem;
        left: 0.5rem;
        transition: .5s ;
      }
      #delet-image-btn:hover{
        border: 1px solid red;
        background: #ff0000;
      }
      #delet-image-btn:hover #delte-image-icon{
        color: rgb(255, 255, 255);
      }
      #delte-image-icon{
        font-size: 1.5rem;
        color: red;
      }
      
      #blog-button {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
      }
      
      #blog-button:hover {
        background-color: #0056b3;
      }
      
      .image-details-container{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #4c4c4c40;
        width: 10rem;
        height: 3rem;
        border-radius: 0.3rem;
        top: 1rem;
        left: 1rem;
        padding: 3px 6px;
      }
      .image-creater{
        font-size: 1rem;
        font-family: 'Roboto';
        color: white;
        line-height: 1.5rem;
      }

      
/* Show New Paints Model --open*/
.paintname{
  position: absolute;
  bottom: 0.9rem;
  left: 17%;
  border: 1px solid #ff8181;
  width: auto;
  padding: 0 6px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  box-shadow: 0 0 11px 1px #9f9f9f;
  background: white;
  transition: .5s;
  font-size: 1.1rem;
  font-family: 'Roboto';
  letter-spacing: 1px;
  cursor: pointer;
}
.paintname:hover{
  color: white;
    border: 1px solid #ff6464; 
    background: #ff4747;
    box-shadow: 0 0 15px 4px #9f9f9f;
}
/* Show New Paints Model --close */



/* Responsive mobile version */
@media (max-width: 1365px) {
  .content-main{
    left: 0vw; 
    width: 100vw;
    height: 89vh;
    z-index: 1800;
  }
  .dashboard_container_{
    width: 52rem;
    height: 91vh;
    display: grid;
    overflow: scroll;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
  }

  .user-table button {
    display: block;
    margin: 10px auto;
  }

        /*Banner & Paintings css start--------------  */
        .image-preview {
          display: grid;
          grid-template-columns: repeat(2,1fr);
        }
}


/* Responsive mobile version */
@media (max-width: 834px) {
  .content-main{
    left: 0vw; 
    width: 100vw;
    height: 90vh;
    z-index: 1800;
  }
  .dashboard_container_{
    width: 39rem;
    height: 91vh;
    display: grid;
    overflow: scroll;
    flex-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
  }

}


/* Responsive mobile version */
@media (max-width: 685px) {


  .dashboard_container_{
    width: 52rem;
    height: 90vh;
    display: grid;
    overflow: scroll;
    flex-wrap: wrap;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-items: center;
  }
  .boxes_container{
    width: 17rem;
   }

      /*Banner & Paintings css start--------------  */
      .image-preview {
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
      .image-preview-item {
           height: 41vh;
           margin: 9px 0;
        position: relative;
      }

}


@media (max-width: 485px) {

  .blog_main_container{
    width: 90%;
  }

  .Banner_Show_Dta_container {
    padding: 14px;
    width: 95%;
    height: 92%;
  }
}