
.notemain{
    padding: 5px;
    width: 30%;
    min-height: 9rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    border: 1px solid rgba(204, 204, 204, 0.479);
    box-shadow: 3px 4px 9px #ccc;
}
.notemain h3{
    /* text-align: center; */
    align-items: flex-start;
}
.notemain button{
    align-self: stretch;
    width: 40px;
    height: 40px;
    position: relative;
    left: 80%;
    bottom: 5%;
    border-radius: 50%;
    border: none;
    transition: .3s ease-in;
    box-shadow: 2px 3px 8px #ccc;
}
.notemain button img{
    width: 30px;
    height: 30px;
}
.notemain button:hover{
    background-color: #72fbeba5;
}




@media (max-width:724px){
    .notemain{
        padding: 5px;
        width: 100%;
        min-height: 9rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 1.5%;
        border: 1px solid rgba(204, 204, 204, 0.479);
        box-shadow: 3px 4px 9px #ccc;
    }
}
.maintextarea{
     display:flex;
     flex-direction:column;
     padding:1% 20%;
}
#main{
    width:100%;
    height:47vh;
    display: flex;
    /* border: 2px solid red; */
}

#maincontent{
    width:100%;
    height:46vh;
    display: flex;
    flex-wrap: wrap;
    margin:0% 20%;
    overflow: scroll;
    /* border: 2px solid red; */
    overflow: scroll;
}
 #maincontent::-webkit-scrollbar{
    display: none;
}
.headername{
text-shadow:3px 3px 8px #ccc;
color:white;
font-weight:bold;
font-size:40px;
}

@media (max-width:524px){
    .maintextarea{
        padding:1% 2%;
   }

    #maincontent{
        width:100%;
        height:46vh;
        display: flex;
        flex-wrap: wrap;
        margin:2px;
    }

    .headername{
        font-weight:normal;
        font-size:20px;
    }
}