.animated-button {
        background-color: #ffffff00;
        border: none;
        color: #ffffff;
        display: inline-block;
        font-size: 17px;
        height: 2.3rem;
        width: 1.99rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      
      .animated-button:before {
        content: "";
        position: absolute;
        top: 0;
        top: -100%;
        height:100%;
        width: 100%;
        transition: all 0.2s ease-out;
      }
      
      .animated-button:hover:before {
        top: 0;
      }
      
      .animated-button a {
        color: #ffffff;
        position: relative;
        z-index: 1;
        transition: all 0.2s ease-out;
      }
      
      .animated-button:hover a {
        transform: translateX(10px);
      }
      .animated_icon{
       align-self: center;
       position: relative;
     
       top: 30%;
       left: 30%;
      }


        .wh:before {
                background: #4db707;
        }
        .fb:before {
                background: #1d59f2;
        }
        .insta:before {
                background: #b61df2;
        }
        
        .twitter:before {
                background: #367af9;
        }
        .youtube:before {
                background: #f52f25;
        }


         
@media(max-width:1024px){
        .animated-button {
                color: #ff4b1e;
                font-size: 23px;
                height: 2.6rem;
                width: 2.8rem;
              }
              
              .animated-button:before {
                border-radius: 15rem 15rem;
              }
              
              .animated-button:hover:before {
                top: 0;
              }
              
              .animated-button a {
                color: #ff4b1e;
              }
              
              .animated-button:hover a {
                color: #ffffff;
              }
        
              .animated_icon{
                top: 20%;
                left:20%;
               }
        
        
        
}



/* button */



#svg{
  width:277px;
  height:62px;
}

.container{
  position: absolute;
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
   stroke: #ff3019;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

#rect{
  width: 266px;
  height: 50px;
}

.btn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}




@media(max-width:1354px){
      .h_srvs_h1 {
          font-size: 2rem;
      }

      .h_srvs_F_con {
          width: 90%;
      }
      #rect{
          width: 216px;
          height: 40px;
        }
        
#svg{
  width: 225px;
  height: 50px;
}

.btn {
  width: 228px;
  height: 40px;
  line-height: 51px;
}
.container{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}



/* button */
.animated2-button_white {
        color:  #137ca9;
      }
.animated2-button {
        background-color: #ff351c;
        border: 2px solid #343839;
        color:  #ffffff;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        padding: 13px 21px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
      }
      
      .animated2-button:before {
        content: "";
        position: absolute;
        top: -100%;
        left: 100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(266deg,#ff351c,#ff351c);
        transition: all 0.3s ease-out;

      }
      
      .animated2-button:hover:before {
        border: 2px solid #ff351c;
        left: 0;
        top: 0;
      }
      
      .animated2-button span {
        display: flex;
        position: relative;
        z-index: 1;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        transition: all 0.3s ease-out;
      }
      
      .animated2-button:hover span {
        color:  #ffffff;
        transform: translateX(10px);
      }
      
    

      @media(max-width:554px){
        /* button */
.animated2-button {
        padding: 4px 19px;
        font-size: 13px;
        margin: 4px 2px;
      }
      }


      /* //////////////animation water button flowate */
      #a {
        position: relative;
        padding: 11px 13px;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        width: 128px;
        overflow: hidden;
        border-radius: 40px;
      }
      
      #a span {
        position: relative;
        color: #fff;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;
        letter-spacing: 1px;
        font-weight: 500;
        z-index: 1;
      }
      
      #a .liquid {
        position: absolute;
        top: -80px;
        left: 0;
        width: 200px;
        height: 200px;
        background: #ff5e49;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
        transition: .5s;
      }
      
      #a .liquid::after,
      #a .liquid::before {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: #000;
      }
      
      #a .liquid::before {
        
        border-radius: 45%;
        background: rgb(27, 25, 24);
        animation: animate 5s linear infinite;
      }
      
      #a .liquid::after {
        
        border-radius: 40%;
        background: rgba(20, 20, 20, .5);
        animation: animate 10s linear infinite;
      }
      
      #a:hover .liquid{
        top: -120px;
      }
      
      @keyframes animate {
        0% {
          transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -75%) rotate(360deg);
        }
      }