.faculties_m_con{
   
        height: 30rem;
        background-image: url('../assets/13.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom;
}

.facultiespg_F_con{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 3rem;
        background-color: #00051b9d;
}

.facultiespg_F_con>h1{
        color: white;
        font-weight: 500;
        font-size: 6rem;
        text-align: center;
        font-family: 'Lato';
        margin: 0;
}
.facultiespg_F_con>p{
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Roboto';
}
.facultiespg_F_con>p>a{
        color: #f9521a;
        text-decoration: none;
        margin: 0 0rem 0 0;
        transition: .5s ;
        font-family: 'Roboto';
}
.facultiespg_F_con>p>a:hover{
        color: #ffffff;
        text-decoration: underline;
        margin: 0 0rem 0 0;
} 



/* content of contact page */
.faculties_Scon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 8rem 0;
}
 .faculties_Cart_con{
        width: 80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap:4rem 2rem;
        justify-content: center;
 }




 
@media(max-width:1244px){
        .faculties_m_con{
                height: 20rem;}
        .facultiespg_F_con>h1{
                color: white;
                font-weight: 500;
                font-size: 4rem;
        }
        .facultiespg_F_con>p{
                font-size: 1.2rem;
        }

}



@media(max-width:554px){
        .faculties_m_con{
                justify-content: center;
                align-items: center;
                padding: 0;
        }
        .faculties_m_con{
                height: 15rem;}
        .facultiespg_F_con>h1{
                color: white;
                font-weight: 500;
                font-size: 3rem;
        }
        .facultiespg_F_con>p{
                font-size: 1.1rem;
        }
     

        
}

@media(max-width:394px){
        .faculties_m_con{
                height: 15rem;
        }
        .facultiespg_F_con{
                width: 100%;
                height: 15rem;
          }
}
