

.gallerypg_bgccon{
        height: 30rem;
        background-image: url('../assets/10.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: 90% 60%;
}
.gallerypg_F_con{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 3rem;
        background-color: #001521b3;
}

.gallerypg_F_con>h1{
        color: white;
        font-weight: 500;
        font-size: 6rem;
        text-align: center;
        font-family: 'Lato';
        margin: 0;
}
.gallerypg_F_con>p{
        text-align: center;
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Roboto';
}
.gallerypg_F_con>p>a{
        color: #f9601a;
        text-decoration: none;
        margin: 0 0rem 0 0;
        transition: .5s ;
        font-family: 'Roboto';
}
.gallerypg_F_con>p>a:hover{
        color: #ffffff;
        text-decoration: underline;
        margin: 0 0rem 0 0;
}
.gallerypg_m_con{
        margin: 6rem 0;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
}



#gallerypg_m_{
        width: 84.78rem;
}
#gallerypg{
        border-radius: .1rem;
        cursor: pointer;
}
#zoomout{
        cursor: zoom-out;
}


@media(max-width:1224px){
        .gallerypg_bgccon{
                height: 20rem;
        }
        .gallerypg_F_con>h1{
                font-size: 4rem;
        }
        .gallerypg_F_con>p{
                font-size: 1.2rem;
        }
        #gallerypg_m_{
                width: 90%;
        }
}

@media(max-width:554px){
        .gallerypg_F_con {
                justify-content: center;
                align-items: center;
                padding: 0;
            }

        .gallerypg_F_con>h1{
                font-size: 3rem;
        }
        .gallerypg_F_con>p{
                font-size: 1.1rem;
        }
        .gallerypg_bgccon{
                height: 15rem;
                background-size:110% 110%;
                background-position: bottom;
        }   #gallerypg_m_{
                width: 95%;
        }
}

@media(max-width:394px){
        .gallerypg_bgccon{
                height: 15rem;
        }

}